*{
    margin: 0;
    padding: 0;
}


body {
    background: url(https://images3.alphacoders.com/106/1069102.jpg);  /*prov*/

}

.flex-container{

    display: flex;
    flex-direction: row;
}

.container-leftbox {

    width:45%;
    height: 86%;
    margin-top: 14vh;
    position:absolute;
    margin-left: 3vh;
}

.container-rightbox { /*properties/rightzone!*/

    width: 45%;
    height: 86%;
    margin-top: 14vh;
    margin-left: 101vh;
    position: absolute;
}   

/* .rightbox:hover {

    transition: 1.5s;
    background-color: rgba(195, 67, 67, 0.912);
    animation: alternate;
    filter: blur(0px);
    transform: scale(1.0001);
  
} */

/* .leftbox:hover {

    transition: 1.5s;
    background-color: rgb(7, 199, 242);
    animation: alternate;
    filter: blur(0px);
    transform: scale(1.0001);
  
} */


/* .link-left {
    text-decoration: none;
    text-transform:uppercase;
    text-align: center;
    margin-left:45%;
    line-height: 600px;
    color: #efefef;
    /* font-family: 'Bangers', cursive; */
    /* text-justify:auto; */
    /* font-size:50px;
    font-family: 'Rubik Bubbles', cursive;

} */ 

/* .link-right {               /*tittle*/
    /* text-decoration: none;
    text-transform:uppercase;
    text-align: center;
    margin-left:50%;
    line-height: 600px;
    color: #efefef;
    /* font-family: 'Bangers', cursive; */
    /* font-size:50px;
    font-family: 'Rubik Bubbles', cursive;
   
     */
/* } */


    
/* .flex-container:hover {

    color: ;

} */






