* {
    margin: 0;
    padding: 0;

}

body {

    /* background-color: rgb(79, 146, 116); */
    background:  linear-gradient(150deg, #283d35 30% ,#05fed9 150%);
    overflow-x:hidden;
    overflow-y:hidden;
    max-height: 1000px;
}

.container {

    margin-top: 15rem;
    margin-left: 13%;
    justify-content: center;
    /* background-color: red; */  /*testing box*/
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-right: 1px solid black;
}


.form-m {
    /* background-color: black; */
    width: 700px;
    height: 300px;
    /* position: absolute; */
    float: left;
   

}

.main-input {
    border-radius: 4px;
    border: 0;
    background-color: rgba(255, 255, 255, 0.666);
    transition: 0.7s;
    margin-top: 4rem;
    /* margin-left: 2rem; */
    height: 30px;
    margin-left: 10px;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    border-color: white;
    box-shadow: 1px 1px 6px black;
    padding-left: 10px;
}

.main-input:hover {

    background-color: rgb(177, 177, 177);
    border-color: aqua;
    box-shadow: 1px 1px 12px rgb(194, 236, 236);

}

/* .main-input:focus {

    background-color: rgb(110, 180, 146);
    border-color: aqua;
    box-shadow: 1px 1px 8px rgb(194, 236, 236);

} */

.form-m label {
    font-family: 'Righteous', cursive;
    font-size: 22px;
    color: white;
    margin-left: 2rem;
}

.submit {
    width: 100px;
    height: 50px;
    box-shadow: 1px 1px 1px black;
    border-radius: 4px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.666);
    transition: 0.5s;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    border-color: white;
    box-shadow: 1px 1px 6px black;
    display: flex;
    position: absolute;
    text-align: center;
    margin-top: 50px;
    margin-left:250px;
    padding-left: 24.5px;
    align-items: center;
}

.submit:hover {

    background-color: #ededed;
    border-color: aqua;
    box-shadow: 1px 1px 8px rgb(194, 236, 236);
    transform: scale(1.03);
    color:#000000

}

.submit:active {

    background-color: #343434;
    border-color: aqua;
    box-shadow: 1px 1px 8px rgb(25, 25, 25);
    transform: scale(1);
    color:#a3a3a3

}


.conex {

    height: 60rem;
    /* background-color: red; */

}


/*L0GOS*/


.container-2 {
    height: 200px;
    width: 500px;
    position: absolute;
    display:flex;
    margin-left: 63%;
    margin-bottom: 20%;
    /* margin-left: ; */
}

.container-2 a img {   /*ig logo*/
    margin-top: 1rem;
    width: 125px;
    height: 75px;
    margin-bottom: 0;
    
}

.container2 a .twitterLogo { 

    width: 50px;
    height: 200px;
    
}


.stick img {
    width: 1px;
    height: 300px;
    /* margin-left: 10rem; */
}


.logoBack {
    
    width:260px;
    height: 105px;
    background:  linear-gradient(0deg, #686a69 30% ,#8aeacab5 150%);
    border-radius: 360px;
    border: 1px solid black;
    box-shadow: 0.5px 0.5px 6px black;
    align-items: center;
    justify-content: center;
}

