* {
    margin: 0; /*rebooting*/
    padding: 0;
}

body {
    
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #efefef;
}

h1 {
    justify-content: center;
    display: flex;

}

.container {

    margin-top: 10rem;
    /* background-color: red; */
    height: 40rem;
    width: 65rem;


}
