* {
    margin: 0; /*rebooting*/
    padding: 0;
}

body {
    background: url(https://images.wallpapersden.com/image/download/purple-sunrise-4k-vaporwave_bGplZmiUmZqaraWkpJRmbmdlrWZlbWU.jpg);
}


.home {

    height: 100%;
    margin-top: 15rem;
}

