

body {
    margin: 0; /*rebooting*/
    padding: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    /* background-color: #83FFEA;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1200 800'%3E%3Cdefs%3E%3CradialGradient id='a' cx='0' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2389fff3'/%3E%3Cstop offset='1' stop-color='%2389fff3' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='b' cx='1200' cy='800' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c1fff5'/%3E%3Cstop offset='1' stop-color='%23c1fff5' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='c' cx='600' cy='0' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23c7fffd'/%3E%3Cstop offset='1' stop-color='%23c7fffd' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='d' cx='600' cy='800' r='600' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2383FFEA'/%3E%3Cstop offset='1' stop-color='%2383FFEA' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='e' cx='0' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2390FFFB'/%3E%3Cstop offset='1' stop-color='%2390FFFB' stop-opacity='0'/%3E%3C/radialGradient%3E%3CradialGradient id='f' cx='1200' cy='0' r='800' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF' stop-opacity='0'/%3E%3C/radialGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='1200' height='800'/%3E%3Crect fill='url(%23b)' width='1200' height='800'/%3E%3Crect fill='url(%23c)' width='1200' height='800'/%3E%3Crect fill='url(%23d)' width='1200' height='800'/%3E%3Crect fill='url(%23e)' width='1200' height='800'/%3E%3Crect fill='url(%23f)' width='1200' height='800'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
    background-color: #222;

}

h1 {
    justify-content: center;
    display: flex;

}

.container {

    margin-top: 10rem;
    /* background-color: red; */
    height: 40rem;
    width: 65rem;


}

.container2 {

    margin-top: 10rem;
    height: 20rem;
    /* background-color: aquamarine;     */
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}


.text-container {


    color: white;
    margin-bottom: 2.5rem;

}

.text-container .child {
    font-weight: bold;
    color:#ffffff;
    font-style: normal;
    font-size:60px ;
    font-family: 'Righteous', cursive;

    margin: 0;
}

.text-container .child:hover {

    /* color: rgb(0, 0, 0); */
    transition: 0.5s;
}   

.pablo{
    color: rgb(41, 215, 134);
    display:inline-block;
    font-family: 'Righteous', cursive;

    font-size: 75px;
}

.container3 {

    height: 13rem;
    /* background-color: aqua; */
    /* margin-bottom: 5rem; */
    display: flex;
    padding-bottom: 8rem;

}

.stick {
    height: 12rem;
    width: 1px;
    margin-left: 7rem;
    margin-bottom: 20px;
}


a .social {

    width: 60px;
    height: 60px;
    margin-left: 80%;
    margin-top: 3rem;

}


.carrousel {
  width: 90%;
  max-width: 120em;
  padding: 2em;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  overflow: hidden;
}

.carrousel .grande {
  width: 200%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
  padding: 2em;
  transition: all 0.5s ease;
  transform: translateX(0%);
}

.carrousel .img {
  width: calc( 100% / 2 - 2em);
  min-height: 10vh;
  color: var(--negro);
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: var(--blanco);
  box-shadow: 1em 1em 2em var(--sombra-ppal), -1em -1em 2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .puntos {
  width: 100%;
  margin: 1em 0 0;
  padding: 0.4em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.carrousel .punto {
  width: 2em;
  height: 2em;
  margin: 1em 1em 0;
  color: none;
  transition: all 0.4s ease;
  border-radius: 1em;
  background-color: white;
  box-shadow: 0.6em 0.6em 1.2em var(--sombra-ppal), -0.6em -0.6em 1.2em var(--sombra-sec), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

.carrousel .punto.activo {
    background-color: rgb(41, 215, 134);

}

.grande img{
    height: 400px;

}

ul {

    list-style: none;

}

