*{
    margin: 0 auto;
    padding: 0 auto;
}


body {
    background-color: #efefee;
}
/* 
.leftbox {
    background-color: aqua;
    width: 50%;
    height: 50%;
    position:absolute;
    margin-top: 6.92%;
} */