

.container-leftbox {
    position: relative;
    /* width: 475px; */
    display: flex;
}



/*galery2*/

.container-leftbox2 {
    position: relative;
    /* width: 475px; */
    display: flex;
}



/*img3*/
.container-leftbox3 {
    position: relative;
    width: 475px;
    display: flex;
}



/*img4*/
.container-leftbox4 {
    position: relative;
    width: 475px;
    display: flex;
}


/*img5*/
.container-leftbox5 {
    position: relative;
    width: 475px;
    display: flex;
}



/*img6*/
.container-leftbox6 {
    position: relative;
    width: 475px;
    display: flex;
}



/*img7*/
.container-leftbox7 {
    position: relative;
    width: 475px;
    display: flex;
}


/*img8*/
.container-leftbox8 {
    position: relative;
    width: 475px;
    display: flex;
}


/*img9*/
.container-leftbox9 {
    position: relative;
    width: 475px;
    display: flex;
}

.container-leftbox10 {
    position: relative;
    width: 475px;
    display: flex;
}

.container-leftbox11 {
    position: relative;
    width: 475px;
    display: flex;
}

.container-leftbox12 {
    position: relative;
    width: 475px;
    display: flex;
}

.container-leftbox13 {
    position: relative;
    width: 475px;
    display: flex;
}


/*FLEX*/

#flex1 {
     /* background-color: red; */
    width: 100%;
    /* margin-right: 100px; */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /* margin-left: 100px; */
    margin-top: 3rem;
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;
}

#flex2 {

    /* background-color: red; */
    width: 100%;
    height: 600px;
    /* margin-right: 100px; */
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    /* margin-left: 100px; */
    /* margin-top: 5rem; */
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;

}

#flex3 {

    /* background-color: red; */
    width: 100%;
    height: 415px;
    /* margin-right: 100px; */
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    /* margin-left: 100px; */
    /* margin-top: 0rem; */
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;

}

#flex4 {

    /* background-color: red; */
    width: 100%;
    height: 596px;
    /* margin-right: 100px; */
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    /* margin-left: 100px; */
    /* margin-top: 0rem; */
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;

}

#flex5 {

    /* background-color: red; */
    width: 100%;
    height: 440px;
    /* margin-right: 100px; */
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    /* margin-left: 100px; */
    /* margin-top: 0rem; */
    /* justify-content: center; */
    justify-content: space-around;
    align-items: center;

}






@media screen and (max-width:800px){
    .container #flex1 .container-leftbox {
        width: 30%;

    }

    .container #flex1 .container-leftbox2 {
        width: 30%;

    }

    .container #flex1 .container-leftbox3 {
        width: 30%;

    }
    

}

@media screen and (max-width:500px){
    .container #flex1 .container-leftbox {
        width: 50%;

    }

}

@media screen and (max-width:369px){
    .container #flex1 .container-leftbox {
        width: 95%;

    }

}


